---
title: "Publications"
layout: default
excerpt: "RT2 Lab -- Publications."
sitemap: false
permalink: /publications/
---

<h1>{{page.title}}</h1>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">

    {% for publi in site.data.publications %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{forloop.index}}"
               style="color: inherit;">
            <!-- authors -->
            {%- assign apa_authors = "" | split:"|" -%}

            {%- for a in publi.author -%}
            {%- assign family = a.family | strip -%}
            {%- assign given  = a.given  | default: "" | replace: ".", "" | strip -%}
            {%- assign initials = "" -%}

            {%- if given == "" -%}
                {%- assign initials = "" -%}

            {%- elsif given contains " " -%}
                {%- assign parts = given | split: " " -%}
                {%- for p in parts -%}
                {%- assign p = p | strip -%}
                {%- if p != "" -%}
                    {%- assign first = p | slice: 0, 1 | upcase -%}
                    {%- assign initials = initials | append: first | append: ". " -%}
                {%- endif -%}
                {%- endfor -%}

            {%- elsif given contains "-" -%}
                {%- assign parts = given | split: "-" -%}
                {%- for p in parts -%}
                {%- assign p = p | strip -%}
                {%- if p != "" -%}
                    {%- assign first = p | slice: 0, 1 | upcase -%}
                    {%- assign initials = initials | append: first | append: "." -%}
                {%- endif -%}
                {%- unless forloop.last -%}
                    {%- assign initials = initials | append: "-" -%}
                {%- endunless -%}
                {%- endfor -%}
                {%- assign initials = initials | append: " " -%}

            {%- else -%}
                {%- assign gsize = given | size -%}
                {%- if gsize > 1 -%}
                {%- for i in (0..gsize-1) -%}
                    {%- assign ch = given | slice: i, 1 -%}
                    {%- assign ch = ch | strip -%}
                    {%- if ch != "" -%}
                    {%- assign ch_up = ch | upcase -%}
                    {%- assign initials = initials | append: ch_up | append: ". " -%}
                    {%- endif -%}
                {%- endfor -%}
                {%- else -%}
                {%- assign first = given | slice: 0, 1 | upcase -%}
                {%- assign initials = initials | append: first | append: ". " -%}
                {%- endif -%}
            {%- endif -%}

            {%- assign initials = initials | strip -%}

            {%- if initials != "" -%}
                {%- assign formatted = family | append: ", " | append: initials -%}
            {%- else -%}
                {%- assign formatted = family -%}
            {%- endif -%}

            {%- assign apa_authors = apa_authors | push: formatted -%}
            {%- endfor -%}

            {%- for name in apa_authors -%}
            {%- if forloop.first -%}
                {{ name }}
            {%- elsif forloop.last -%}
                , & {{ name }}
            {%- else -%}
                , {{ name }}
            {%- endif -%}
            {%- endfor -%}

            

            <!-- title with link -->
            "{{ publi.title }}",

            <!-- container -->
            <b>{{ publi.container-title }}</b>

            <!-- issued date -->
            ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

            {% assign link_url = nil %}

            {% if publi.URL %}
            {% assign link_url = publi.URL %}
            {% elsif publi.DOI %}
            {% assign link_url = "https://doi.org/" | append: publi.DOI %}
            {% endif %}
            

            </a>
        </div>

        <div id="collapse{{forloop.index}}" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>

                {% if link_url %}
                    <a class="btn btn-outline-primary"
                        href="{{ link_url }}"
                        role="button" target="_blank" rel="noopener">
                        Link
                    </a>
                    {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
