<!-- Footer -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{{ site.url }}{{ site.baseurl }}/images/footer/footer1.png" height="196" width="526">
                </div>
                <div class="col-lg-6">
                    <div class="contact-info">
                        <p><strong>Get in touch at:</strong> rihuili@um.edu.mo</p>
                        <p><strong>Office:</strong> +853-88229218</p>
                        <p><strong>Address:</strong> Room 1015e, Research Building N21<br>
                        Center for Cognitive and Brain Sciences, Institute of Collaborative<br>
                        Innovation, University of Macau<br>
                        Avenida da Universidade, Taipa, Macau SAR</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>